:root {
  --b-radius: 10px;
  --c-bg: #F1F8EE;
  --c-pri-dark: #0E6F3B;
  --c-pri-light: #8FD192;
  --c-pri-med: #3EB25E;
  --c-txt-dark: #000;
  --c-txt-light: #fff;
  --c-txt-med: #00000099;
}

body {
  background-color: #E5E5E5;
  /*just for assignment. turn off*/
}

* {
  box-sizing: border-box;
}

#root {
  background-color: var(--c-bg);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
  width: 1280px;
}

#headerWrap {
  display: grid;
  grid-template-columns: 200px 1fr 200px;

}

nav ul li {
  color: var(--c-pri-light);
  list-style: none;
  text-decoration: none;
}

nav>* {
  color: #8FD192;
  font-family: 'robotoregular';
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 6px;
  padding-left: 6px;
}


.navLine,
a,
a div {
  align-items: center;
  color: var(--c-pri-light);
  display: flex;
  text-decoration: none;
}

.navLine:nth-child(2) {
  color: #8FD192;
}


.navLine:nth-child(1)>* {
  color: var(--c-pri-dark);
}

.block.first,
.elipse.first {
  background-color: var(--c-pri-dark);
}

a:link div {
  color: var(--c-pri-light);
}

a:visited {
  color: none;
}

a:hover {
  color: var(--c-pri-med);
  cursor: pointer;
}

a:active {
  color: none;
}

.block {
  background-color: var(--c-pri-light);
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  height: 26px;
  margin-right: 5px;
  width: 10px;
}

.elipse {
  background-color: var(--c-pri-light);
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  height: 20px;
  margin-right: 5px;
  width: 20px;
}

header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  height: 444px;
  padding-left: 105px;
  padding-right: 100px;
  padding-top: 60px;
  width: 100%;
}

#headingBox {
  align-self: center;
  display: flex;
  flex-direction: column;
  padding-left: 150px;
  padding-right: 150px;

}

#logo {
  /* float: right; */
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 105px;
  padding-right: 105px;
  padding-top: 60px;
}

footer {
  background-color: var(--c-pri-light);
  padding: 5rem;
}

.full-container {
  width: 1064px;
}

.txt-highlight {
  background: #8FD192;
  border-radius: 7px;
  height: 40px;
  position: absolute;
  width: 185px;
}

.divider {
  background-color: var(--c-txt-dark);
  border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  -webkit-border-radius: 2px;
  box-shadow: -11px -2px 0px 4px var(--c-pri-light);
  -moz-box-shadow: -11px -2px 0px 4px var(--c-pri-light);
  -webkit-box-shadow: -11px -2px 0px 4px var(--c-pri-light);
  height: 6px;
  margin: 64px;
  opacity: 75%;
  padding: 2px;
  width: 200px;
}

.bigBtn {
  align-items: center;
  background: #8FD192;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  bottom: 50px;
  display: flex;
  flex-direction: row;
  font-family: 'robotobold';
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  gap: 10px;
  height: 40px;
  justify-content: center;
  line-height: 20px;
  padding: 10px 0px;
  position: fixed;
  width: 186px;
  z-index: 10;
}


.circle-frame {
  background: #3F9142;
  border: 1px solid #FFFFFF;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.5);
  height: 189px;
  width: 189px;
}

.single-box {
  align-items: center;
  background: #8FD192;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  display: flex;
  gap: 30px;
  height: 400px;
  padding-bottom: 40px;
  padding-left: 30px;
  padding-right: 25px;
  padding-top: 40px;
  width: 1064px;
}


.twopart-box {
  display: flex;
  gap: 30px;
  position: relative;
  overflow: visible;

}

.setupContainer,
.deliveryContainer {
  width: 220px;
}


.setupContainer.elipseContainer {
  right: 70px;
}


.setup,
.delivery {
  align-items: center;
  background: #8FD192;
  border-radius: 10px;
  color: var(--c-txt-dark);
  display: flex;
  font-family: 'Roboto';
  font-family: 'robotomedium';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  height: 290px;
  justify-content: center;
  line-height: 19px;
  overflow: scroll;
  padding: 15px;
  position: relative;
  text-align: center;
  width: 201px;
}

.setup ::first-line,
.delivery ::first-line {
  font-family: 'fredoka_oneregular';
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  margin: bottom 10px;
  text-align: center;
}

.setup:after {
  border-color: transparent var(--c-pri-light) transparent transparent;
  border-style: solid;
  border-width: 0 20px 20px 0;
  content: '';
  display: block;
  left: -20px;
  margin-top: -10px;
  position: absolute;
  top: 79%;
  width: 0;
  z-index: 1;
}

.delivery:after {
  border-color: var(--c-pri-light) transparent transparent transparent;
  border-style: solid;
  border-width: 20px 20px 0 0;
  content: '';
  display: block;
  margin-top: -10px;
  position: absolute;
  right: -20px;
  top: 75%;
  width: 0;
  z-index: 1;
}


.setupImg {
  height: 168px;
  left: -220px;
  position: absolute;
  top: 20%;
  transform: rotate(-11.56deg);
  width: 238px;
  z-index: 10;
}


.deliveryImg {
  position: absolute;
  right: -220px;
  z-index: 10;
}

.twopart-box,
.single-box {
  margin-bottom: 60px;
  margin-top: 60px;
}

.smileImg {
  align-self: flex-end;
}